<%- include('header') %>
<div> Bienvenue sur la page d'accueil </div>

    <style>

      .chartBox {
        width: 600px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(255, 26, 104, 1);
        background: white;
      }
    </style>
  </head>
  <body>

      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>

      <div class="chartBox">
        <canvas id="myChart1"></canvas>
      </div>
    
    <script type="text/javascript" src="scripts/chart.js/dist/chart.umd.js"></script>


    <script>

    <%
    
    let arrayLabelBesoinsMoisActuel = []
    let arrayBesoinsMoisActuel = []
    moisActuel.forEach(function(user,i){ 
        //forrmatter les données pour charts JS
        arrayLabelBesoinsMoisActuel.push("`"+user.medicament_nom+"`")
        arrayBesoinsMoisActuel.push(user.besoins_mois_courant)
                
   })
    console.log(arrayLabelBesoinsMoisActuel)
    console.log(arrayBesoinsMoisActuel)

    let arrayLabelBesoinsMoisActuelPlus1 = []
    let arrayBesoinsMoisActuelPlus1 = []
    moisActuelPlus1.forEach(function(user,i){ 

        arrayLabelBesoinsMoisActuelPlus1.push("`"+user.medicament_nom+"`")
        arrayBesoinsMoisActuelPlus1.push(user.besoins_mois_courant)
                
   })
    console.log(arrayLabelBesoinsMoisActuelPlus1)
    console.log(arrayBesoinsMoisActuelPlus1)

    let arrayLabelBesoinsMoisActuelPlus2 = []
    let arrayBesoinsMoisActuelPlus2 = []
    moisActuelPlus2.forEach(function(user,i){ 

        arrayLabelBesoinsMoisActuelPlus2.push("`"+user.medicament_nom+"`")
        arrayBesoinsMoisActuelPlus2.push(user.besoins_mois_courant)
                
    })
    console.log(arrayLabelBesoinsMoisActuelPlus2)
    console.log(arrayBesoinsMoisActuelPlus2)
    %>




    const arrayLabelBesoinsMoisActuel = [<%= arrayLabelBesoinsMoisActuel %> ]
    const arrayBesoinsMoisActuel = [<%= arrayBesoinsMoisActuel %> ]
     
    //console.log(nomsMedicaments)
    const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: 'bar',
  data: {
    labels: arrayLabelBesoinsMoisActuel,
    datasets: [{
      label: '# of Votes',
      data: arrayBesoinsMoisActuel,
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

    const arrayLabelBesoinsMoisActuelPlus1 = [<%= arrayLabelBesoinsMoisActuelPlus1 %> ]
    const arrayBesoinsMoisActuelPlus1 = [<%= arrayBesoinsMoisActuelPlus1 %> ]
     
    //console.log(nomsMedicaments)
    const ctx1 = document.getElementById('myChart1');

new Chart(ctx1, {
  type: 'bar',
  data: {
    labels: arrayLabelBesoinsMoisActuelPlus1,
    datasets: [{
      label: '# of Votes',
      data: arrayBesoinsMoisActuelPlus1,
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
    </script>











    <!-- <script>
    // setup 
    <%# let arrayLabels = []
    let arrayData = []
    
        medicaments.forEach(function(user,i){ 
                //forrmatter les données pour charts JS
                arrayLabels.push("`"+user.medicament_nom+"`")
                arrayData.push(user.medicament_boitesstock)
                
             })
             //console.log(arrayLabels)
    %>

    const nomsMedicaments = [<%#= arrayLabels %> ]
    const medicamentsBoitesstock = [<%#= arrayData %> ]
     
    //console.log(nomsMedicaments)
    const data = {

      labels: nomsMedicaments,
      datasets: [{
        label: 'Stocks Des Médicaments',
        data: medicamentsBoitesstock,
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)'

        ],
        borderColor: [
          'rgba(255, 26, 104, 1)'

        ],
        borderWidth: 1
      }]
    };

    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script> -->

  </body>
