<%- include('header') %>
    <div> Bienvenue sur la page des medecins </div>
    
    <% for(let i=0; i < medecins.length; i++) {%>
        <li>
            <button
                onClick="location.href='/medecins/modifier/<%=medecins[i].medecin_id%>';">Modifier</button>

            <button onclick="popupAttentionOff(),popupAttentionOn<%=i+1%>()">Supprimer</button>
            <script>
                function popupAttentionOn<%=i+1 %> () {
                    Nom : 
                    document.getElementById("attention<%=i+1 %>").innerHTML = `Ceci supprimera les ordonances que <%= medecins[i].medecin_nom.toUpperCase() %> <%=medecins[i].medecin_prenom  %> aura crée <button onClick="location.href='/medecins/supprimer/<%=medecins[i].medecin_id%>';">oui</button>   ||  <button onClick="popupAttentionOff()">non</button>?`
                }

            </script>

            <strong>
                Nom : <%= medecins[i].medecin_nom.toUpperCase() %>
                Prenom : <%= medecins[i].medecin_prenom %>
                        Tel : <a href="telto:<%= medecins[i].medecin_tel %>">
                            <%= medecins[i].medecin_tel %>
                        </a>
                        Mail : <a href="mailto:<%= medecins[i].medecin_email %>">
                            <%= medecins[i].medecin_email %>
                        </a>

            </strong>
        </li>
        <a class="attention" id="attention<%=i+1 %>"></a>
        <% }%>



            <div> Ajout d'un medecin </div>

            <form action="/medecins/ajouter" method="POST" id= "form" enctype="application/x-www-formurlencoded">
                <div>


                    <label for="nom">Nom : </label>
                    <input type="text" name="nom" id="nom" required>

                    <label for="prenom">Prenom : </label>
                    <input type="text" name="prenom" id="prenom" required>

                    <label for="tel">Tel : </label>
                    <input type="number" name="tel" minlength="10" id="tel" required>

                    <label for="email">Mail : </label>
                    <input type="email" name="email" id="email" required>

                    <button type="submit">Ajouter</button>
                </div>
            </form>

<script src="/scripts/controleSaisie.js"></script>

