<%- include('header') %>
<div> Bienvenue sur la page des médicaments </div>
<% medicaments.forEach(function(user){ %>
    <li>
        <a href="http://localhost:3001/LivreOr/<%=user.medicament_id%>">&#128065;</a>
        <a href="http://localhost:3001/LivreOr/update/<%=medicament_id%>">&#9998;</a>
        <a href="http://localhost:3001/LivreOr/delete/<%=medicament_id%>">&#10006;</a>
        <strong>
            <%= medicament.name %>
        </strong> a dit <%= medicament.message %>
    </li>
    <% })%>