<%- include('header') %>
    <div> Bienvenue sur la page des médicaments </div>
    <!--Boucle sur les data medicaments recupérées grace à la méthode qui s'execute lors de l'accès à la page via l'url /medicaments 
    on crée également une fonction différente à chaque passage dans la boucle, qui affichra le bouton d'alerte dans la div id attention corresopondant à l'id du médiacment à supprimer -->
    <% medicaments.forEach(function(user,i){ %>
        <li>

            <button
                onClick="location.href='/medicaments/modifier/<%=user.medicament_id%>';">Modifier</button>
            <button onclick="popupAttentionOff(),popupAttentionOn<%=i+1%>()">Supprimer</button>

            <script>
                function popupAttentionOn<%= i+1 %> () {
                    document.getElementById("attention<%=i+1%>").innerHTML = `Supprimer le <%= user.medicament_nom.toUpperCase() %> effacera les posologies qui lui sont liées <button onClick="location.href='/medicaments/supprimer/<%=user.medicament_id%>';">oui</button>   ||  <button onClick="popupAttentionOff()">non</button>`
                }
            </script>

            <strong>
                <%= user.medicament_nom.toUpperCase() %>
            </strong> Nb Boites en stock : <%= user.medicament_boitesstock %>

        </li>
        <a class="attention" id="attention<%=i+1 %>"></a>

        <% })%>


            <div> Ajout d'un médicament </div>

            <form action="/medicaments/ajouter" method="POST" id= "form" enctype="application/x-www-formurlencoded">
                <div>

                    <label for="nom">nom : </label>
                    <input type="text" name="nom" id="nom" required>

                    <label for="stock">Quantité en stock : </label>
                    <input type="number" name="stock" id="stock" value="0" required>

                    <button type="submit">Ajouter</button>
                </div>
            </form>

            <script src="/scripts/controleSaisie.js"></script>
