<%- include('header') %>


    <div>
        <div> informations de la mutuelle n° <%=mutuelle[0].mutuelle_id%>
        </div>
        <form action="/mutuelles/modifier" method="POST" enctype="application/x-www-formurlencoded">

            <input hidden type="number" name="id" id="id" value="<%=mutuelle[0].mutuelle_id%>" required>

            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom" value="<%=mutuelle[0].mutuelle_nom%>" required>

            <label for="tel">Tel : </label>
            <input type="tel" name="tel" id="tel" value="<%=mutuelle[0].mutuelle_tel%>" required>

            <label for="email">Mail : </label>
            <input type="email" name="email" id="email" value="<%=mutuelle[0].mutuelle_email%>" required>


            <button type="submit">Modifier</button>

        </form>

        <button onClick="history.back()">Retour</button>
    </div>
    <script>

        const onlyInputs = document.querySelectorAll('#form input');
        const submit = document.querySelector('button[type="submit"]')
        onlyInputs.forEach(input => {
            input.addEventListener('focusout', function () {
                let value = input.value.trim();
                input.value = value
            })
        });
    </script>