<%- include('header') %>
    <div> Bienvenue sur la page des mutuelles </div>

    <% mutuelles.forEach(function(user,i){ %>
        <li>
            <button
                onClick="location.href='http://localhost:3000/mutuelle/modifier/<%=user.patient_numsecu%>/<%= user.patient_mutuelle_id%>';">Modifier</button>
            <button onclick="popupAttentionOn<%= i+1 %>()">Supprimer</button>

            <script>
                function popupAttentionOn<%= i+1 %> () {
                    document.getElementById("attention").innerHTML = `vous etes sur ? <button onClick="location.href='http://localhost:3000/mutuelle/supprimer/<%=user.patient_numsecu%>';">oui</button>   ||  <button onClick="popupAttentionOff()">non</button>`
                }
            </script>

            <strong>
                Nom :<%= user.patient_nom %>
                    Prenom :<%= user.patient_prenom %>
                        age :<%= new Date().getFullYear() - user.patient_anneenaiss %>
                            N° de secu :<%= user.patient_numsecu %>
                                mutuelle :<%= user.mutuelle_nom %>
            </strong>
        </li>
        <% })%>



<div> Ajout d'une Mutuelle </div>

<form action="/mutuelles/ajouter" method="POST" enctype="application/x-www-formurlencoded">
    <div>

        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom" required>

        <label for="tel">Tel : </label>
        <input type="tel" name="tel" id="tel" required>

        <label for="email">Mail : </label>
        <input type="email" name="email" id="email" required>

        <button type="submit">Ajouter</button>
    </div>
</form>