<%- include('header') %>
    <div> Bienvenue sur la page des mutuelles </div>

    <!--boucle qui commence à 0 car il n'y a pas à cacher une colonne "pas de mutuelle -->
    <% for(let i = 0; i < mutuelles.length; i++) {%>
        <li>
            <button
                onClick="location.href='http://localhost:3000/mutuelles/modifier/<%=mutuelles[i].mutuelle_id%>';">Modifier</button>



            <strong>
                Nom : <%= mutuelles[i].mutuelle_nom %>
                Tel : <a href="telto:<%= mutuelles[i].mutuelle_tel %>"><%= mutuelles[i].mutuelle_tel %></a>
                Mail : <a href="mailto:<%= mutuelles[i].mutuelle_email %>"><%= mutuelles[i].mutuelle_email %></a>

            </strong>
        </li>
        <% }%>



            <div> Ajout d'une Mutuelle </div>

            <form action="/mutuelles/ajouter" method="POST" enctype="application/x-www-formurlencoded">
                <div>

                    <label for="nom">Nom : </label>
                    <input type="text" name="nom" id="nom" required>

                    <label for="tel">Tel : </label>
                    <input type="tel" name="tel" id="tel" required>

                    <label for="email">Mail : </label>
                    <input type="email" name="email" id="email" required>

                    <button type="submit">Ajouter</button>
                </div>
            </form>