<%- include('header') %>
    <div> Bienvenue sur la page des ordonnances </div>

    <a id="attention"></a>


    <h1>Ordonnances de</h1>
    <li>nom : <%= ordonnances[0].patient_nom.toUpperCase() %> prenom : <%= ordonnances[0].patient_prenom %> Date de
                naissance : <%= ordonnances[0].patient_journaiss %>/<%= ordonnances[0].patient_moisnaiss %>/<%=
                            ordonnances[0].patient_anneenaiss %> Age : <%= new Date().getFullYear() -
                                ordonnances[0].patient_anneenaiss %> Numéro Sécu : <%= ordonnances[0].patient_numsecu %>
    </li>

    <% ordonnances.forEach(function(user,i){ %>
        <li>
            <button
                onClick="location.href='http://localhost:3000/patients/ordonnances/posologies/<%=user.ordonnance_id%>';">Posologies</button>


            <button disabled>Mutuelle</button>


            <button
                onClick="location.href='http://localhost:3000/medecin/modifier/<%=user.medecin_id%>';">Medecin</button>



            <button
                onClick="location.href='http://localhost:3000/patients/ordonnances/modifier/<%=user.ordonnance_id%>';">Modifier</button>


            <button onclick="popupAttentionOn<%= i+1 %>()">Supprimer</button>
            <script>
                function popupAttentionOn<%= i+1 %> () {
                    document.getElementById("attention").innerHTML = `Supprimer une ordonnance supprimera ses posologies <button onClick="location.href='http://localhost:3000/patients/ordonnances/supprimer/<%=user.ordonnance_id%>';">oui</button>   ||  <button onClick="popupAttentionOff()">non</button>`
                }
            </script>

            <strong>
                N°Ordonnance : <%= user.ordonnance_id %>
                    Médecin : <%= user.medecin_nom.toUpperCase() %>
                        <%= user.medecin_prenom %>
                            Tel : <a href="telto:<%= user.medecin_tel %>">
                                <%= user.medecin_tel %>
                            </a>
                            Pathologie : <%= user.pathologie_nom %>
            </strong>
        </li>
        <% })%>


            <div> Ajouter une Ordonnance </div>

            <form action="/patients/ordonnances/ajouter" method="POST" enctype="application/x-www-formurlencoded">

                <div>
                
                    <input hidden type="number" name="numsecu" id="numsecu" value="<%= ordonnances[0].patient_numsecu %>" required>

                    <label for="medecin"> Medecin : </label>
                    <select name="medecin" id="medecin" required>

                        <option value="" selected disabled>Choisir un Médecin</option>
                        <% medecins.forEach(function(user){ %>
                            <option value="<%= user.medecin_id %>">
                                <%= user.medecin_nom %>
                            </option>
                            <% })%>
                    </select>
                    <label for="medecin"> Pathologie : </label>
                    <select name="medecin" id="medecin" required>

                        <option value="" selected disabled>Choisir un Médecin</option>
                        <% medecins.forEach(function(user){ %>
                            <option value="<%= user.medecin_id %>">
                                <%= user.medecin_nom %>
                            </option>
                            <% })%>
                    </select>


                    <button type="submit">Ajouter</button>
                </div>
            </form>