<%- include('header') %>
    <div> Bienvenue sur la page des pathologies </div>
    <a id="attention"></a>
    <% for(let i=0; i < pathologies.length; i++) {%>
        <li>
            <button
                onClick="location.href='http://localhost:3000/pathologies/modifier/<%=pathologies[i].pathologie_id%>';">Modifier</button>

            <button onclick="popupAttentionOff(),popupAttentionOn<%=i+1%>()">Supprimer</button>
            <script>
                function popupAttentionOn<%=i+1 %> () {
                    document.getElementById("attention<%=i+1 %>").innerHTML = `Ceci Suprimera les ordonnances qui contiennent <%= pathologies[i].pathologie_nom.toUpperCase() %> <button onClick="location.href='http://localhost:3000/pathologies/supprimer/<%=pathologies[i].pathologie_id%>';">oui</button>   ||  <button onClick="popupAttentionOff()">non</button>?`
                }


            </script>




            <strong>
                n° : <%= pathologies[i].pathologie_id %>
                Nom : <%= pathologies[i].pathologie_nom.toUpperCase() %>
            </strong>
        </li>
        <a class="attention" id="attention<%=i+1 %>"></a>

        <% }%>



            <div> Ajout d'une pathologie </div>

            <form action="/pathologies/ajouter" id="form" method="POST" enctype="application/x-www-formurlencoded">
                <div>


                    <label for="nom">Nom : </label>
                    <input type="text" name="nom" id="inputNom" required>

                    <button id="btnAjouter" type="submit">Ajouter</button>
                </div>
            </form>

            <script src="/scripts/controleSaisie.js"></script>

