<%- include('header') %>
    <div> Bienvenue sur la page des patients </div>
    <a id="attention"></a>
    <% patients.forEach(function(user,i){ %>
        <li>

            <button
                onClick="location.href='http://localhost:3000/mutuelles/modifier/<%= user.patient_mutuelle_id%>';">Mutuelle</button>
            <button onclick="popupAttentionOn<%= i+1 %>()">Supprimer</button>

            <button
                onClick="location.href='http://localhost:3000/patients/modifier/<%=user.patient_numsecu%>/<%= user.patient_mutuelle_id%>';">Modifier</button>
            <button onclick="popupAttentionOn<%= i+1 %>()">Supprimer</button>

            <script>
                function popupAttentionOn<%= i+1 %> () {
                    document.getElementById("attention").innerHTML = `vous etes sur ? <button onClick="location.href='http://localhost:3000/patients/supprimer/<%=user.patient_numsecu%>';">oui</button>   ||  <button onClick="popupAttentionOff()">non</button>`
                }
            </script>

            <strong>
                Nom :<%= user.patient_nom %>
                    Prenom :<%= user.patient_prenom %>
                        age :<%= new Date().getFullYear() - user.patient_anneenaiss %>
                            N° de secu :<%= user.patient_numsecu %>
                                mutuelle :<%= user.patient_mutuelle_id %>
            </strong>
        </li>
        <% })%>


            <div> Ajout d'un patient </div>

            <form action="/patients/ajouter" method="POST" enctype="application/x-www-formurlencoded">
                <div>

                    <label for="nom">nom : </label>
                    <input type="text" name="nom" id="nom" required>

                    <label for="prenom">prenom : </label>
                    <input type="text" name="prenom" id="prenom" required>

                    <label for="datenaiss">date de naissance : </label>
                    <input type="date" name="datenaiss" id="datenaiss" required>

                    <label for="numsecu">N° de secu : </label>
                    <input type="number" name="numsecu" id="numsecu" required>


                    <select name="mutuelle" id="mutuelle" required>

                        <% mutuelles.forEach(function(user,i){ %>
                            <option value="<%= user.mutuelle_id %>">
                                <%= user.mutuelle_nom %>
                            </option>
                            <% })%>


                    </select>


                    <button type="submit">Ajouter</button>
                </div>
            </form>



            <script>
                function popupAttentionOff() {
                    document.getElementById("attention").innerHTML = ""
                }
            </script>