<%- include('header') %>
<div> Bienvenue sur la page des posologies </div>


<h1>Posologies de l'ordonnance n° <%=idordo  %> pour <%=infosordo[0].patient_nom.toUpperCase()  %> <%= infosordo[0].patient_prenom %> </h1>
<li>Médecin : <%= medecinpath[0].medecin_nom.toUpperCase() %> <%= medecinpath[0].medecin_prenom %> 
medecinpath    Mail : <a href="mailto:<%= medecinpath[0].medecin_email %>"><%= medecinpath[0].medecin_email %></a>
    Pathologie : <%= medecinpath[0].pathologie_nom %>
</li>


<% if (posologies.length > 0) { %>



    <% posologies.forEach(function(user,i){ %>
        <li>

            <button
                onClick="location.href='/patients/<%=user.patient_numsecu%>/ordonnances/<%=idordo  %>/posologies/<%=user.posologie_id%>/modifier';">Modifier</button>


            <button onclick="popupAttentionOff(),popupAttentionOn<%= i+1 %>()">Supprimer</button>
            <script>
                function popupAttentionOn<%= i+1 %> () {
                    document.getElementById("attention<%= i+1 %>").innerHTML = `etes vous sûr? <button onClick="location.href='/patients/<%=user.patient_numsecu%>/ordonnances/<%=idordo  %>/posologies/<%=user.posologie_id%>/supprimer';">oui</button>   ||  <button onClick="popupAttentionOff()">non</button>`
                }
            </script>

            <strong>
                Médicament : <%= user.medicament_nom %>
                Boites par mois : <%= user.posologie_nbboitesmois %>


                <!--traitemnt affichege ici car formatage de la date dans la requette sql donne un résultat undefined : DATE_FORMAT(posologie_debut,"%d-%m-%Y") as posologie_debutformatee-->
                début du traitement : <%=user.posologie_debut.toLocaleDateString()%>
            
                fin du traitement : <%=user.posologie_fin.toLocaleDateString()%>


<!-- tentaive d'oprération pour avoir les mois resants   date = new Date().getDate() +"/"+ parseInt(new Date().getMonth()+1) +"/"+ new Date().getMonth(), console.log( parseInt(user.posologie_debut.toLocaleDateString()) - parseInt(date) )  -->
                <!--Jours restant : --><%#console.log(user.jrestants)%>

            </strong>
        </li>
        <a class="attention" id="attention<%=i+1 %>"></a>

    <% })%>
<% } %>


<div> Ajouter une Posologie </div>

<form action="/patients/ordonnances/posologies/ajouter" method="POST" id= "form" enctype="application/x-www-formurlencoded">

    <div>

        <input hidden type="number" name="numsecu" id="numsecu"
        value="<%= infosordo[0].patient_numsecu %>" required>
        

        <input hidden type="number" name="idordo" id="idordo"
            value="<%= idordo %>" required>

        <label for="medicament"> Médicament : </label>
        <select name="medicament" id="medicament" required>

            <option value="" selected disabled>Choisir un Médicament</option>
            <% medicaments.forEach(function(user){ %>
                <option value="<%= user.medicament_id %>">
                    <%= user.medicament_nom.toUpperCase() %>
                </option>
                <% })%>
        </select>

        <label for="boites">Boites par mois : </label>
        <input type="number" name="boites" id="boites" min="1" required>

        <label for="duree">Durée en mois : </label>
        <input type="number" name="duree" id="duree" min="1" max="1200" required>


        <button type="submit">Ajouter</button>
    </div>
</form>
<button onClick="history.back()">Retour</button>

<script src="/scripts/controleSaisie.js"></script>
